@import '../../../sass/variables';


.card {
    position: relative;
    height: 23rem;
    cursor: pointer; 
    & img {
        height: auto;
    }
    
    &__description {
        padding: 18px;
        & h3 {
            font-size: 22px;
            margin-bottom: 1em;
        }
    }
}