@import '../../../sass/variables';

.content {
      display: grid;
      gap: 4em;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      margin-top: 2em;
}
.inputs {
      @media(min-width: $desktop) {
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}